html {
direction: rtl;
}
body {
direction: rtl;
}
button,
input,
optgroup,
select,
textarea {
direction: rtl;
}
@media (min-width: 768px) {
    .dl-horizontal dt {
float: right;
    }
}
.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
float: right;
}
@media (min-width: 768px) {
    .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
float: right;
    }
}
@media (min-width: 992px) {
    .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
float: right;
    }
}
@media (min-width: 1200px) {
    .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
float: right;
    }
}
.dropdown-menu {
float: right;
}
.btn-group > .btn,
.btn-group-vertical > .btn {
float: right;
}
.btn-toolbar .btn,
.btn-toolbar .btn-group,
.btn-toolbar .input-group {
float: right;
}
.btn-group > .btn-group {
float: right;
}
.input-group .form-control {
float: right;
}
.nav-tabs > li {
float: right;
}
.nav-pills > li {
float: right;
}
@media (min-width: 768px) {
    .navbar-header {
float: right;
    }
}
.navbar-brand {
float: right;
}
@media (min-width: 768px) {
    .navbar-nav {
float: right;
    }
    .navbar-nav> li {
float: right;
    }
}
@media (min-width: 768px) {
    .navbar-text {
float: right;
    }
}
.pagination > li > a,
.pagination > li > span {
float: right;
}
.pager .previous > a,
.pager .previous > span {
float: right;
}
.progress-bar {
float: right;
}
.popover {
text-align: right;
}
caption {
text-align: right;
}
th {
text-align: right;
}
.dropdown-menu {
text-align: right;
}
.tooltip {
text-align: right;
}
.card-header {
    text-align: right;
}
.card-body{
    text-align: right;
}

.offset-1{margin-right:8.333333%}
.offset-2{margin-right:16.666667%}
.offset-3{margin-right:25%}
.offset-4{margin-right:33.333333%}
.offset-5{margin-right:41.666667%}
.offset-6{margin-right:50%}
.offset-7{margin-right:58.333333%}
.offset-8{margin-right:66.666667%}
.offset-9{margin-right:75%}
.offset-10{margin-right:83.333333%}
.offset-11{margin-right:91.666667%}

@media (min-width:576px){
    .offset-sm-0{margin-right:0}.offset-sm-1{margin-right:8.333333%}.offset-sm-2{margin-right:16.666667%}
    .offset-sm-3{margin-right:25%}.offset-sm-4{margin-right:33.333333%}.offset-sm-5{margin-right:41.666667%}
    .offset-sm-6{margin-right:50%}.offset-sm-7{margin-right:58.333333%}.offset-sm-8{margin-right:66.666667%}
    .offset-sm-9{margin-right:75%}.offset-sm-10{margin-right:83.333333%}.offset-sm-11{margin-right:91.666667%}
}

@media (min-width:768px){
    .offset-md-0{margin-right:0}.offset-md-1{margin-right:8.333333%}
    .offset-md-2{margin-right:16.666667%}.offset-md-3{margin-right:25%}.offset-md-4{margin-right:33.333333%}
    .offset-md-5{margin-right:41.666667%}.offset-md-6{margin-right:50%}.offset-md-7{margin-right:58.333333%}
    .offset-md-8{margin-right:66.666667%}
    .offset-md-9{margin-right:75%}.offset-md-10{margin-right:83.333333%}.offset-md-11{margin-right:91.666667%}
}
@media (min-width:992px){
    .offset-lg-0{margin-right:0}.offset-lg-1{margin-right:8.333333%}.offset-lg-2{margin-right:16.666667%}
    .offset-lg-3{margin-right:25%}.offset-lg-4{margin-right:33.333333%}.offset-lg-5{margin-right:41.666667%}
    .offset-lg-6{margin-right:50%}.offset-lg-7{margin-right:58.333333%}.offset-lg-8{margin-right:66.666667%}
    .offset-lg-9{margin-right:75%} .offset-lg-10{margin-right:83.333333%}.offset-lg-11{margin-right:91.666667%}
}
@media (min-width:1200px){
    .offset-xl-0{margin-right:0}.offset-xl-1{margin-right:8.333333%}.offset-xl-2{margin-right:16.666667%}
    .offset-xl-3{margin-right:25%}.offset-xl-4{margin-right:33.333333%}.offset-xl-5{margin-right:41.666667%}
    .offset-xl-6{margin-right:50%}.offset-xl-7{margin-right:58.333333%}.offset-xl-8{margin-right:66.666667%}
    .offset-xl-9{margin-right:75%}.offset-xl-10{margin-right:83.333333%}.offset-xl-11{margin-left:91.666667%}
}