.show_hide_focus {
    display: none;
}

.parent_focus_chart > div:hover {
    background-color: #28faff;
}

.tree, .tree ul {
    margin: 0;
    padding: 0;
    list-style: none
}

.tree ul {
    margin-left: 1em;
    position: relative
}

.tree ul ul {
    margin-left: .5em
}

.tree ul:before {
    content: "";
    display: block;
    width: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    border-left: 1px solid
}

.tree li {
    margin: 0;
    padding: 0 1em;
    line-height: 2em;
    color: #369;
    font-weight: 700;
    position: relative;
    text-align: right;
    /*display: flex;*/
    /*align-items: center;*/
}

.tree ul li:before {
    content: "";
    display: block;
    width: 10px;
    height: 0;
    border-top: 1px solid;
    margin-top: -1px;
    position: absolute;
    top: 1em;
    right: 0
}

.tree ul li:last-child:before {
    background: #fff;
    height: auto;
    top: 1em;
    bottom: 0
}

.indicator {
    /*margin-right: 5px;*/
}

.tree li a {
    text-decoration: none;
    color: #369;
}

.tree li button, .tree li button:active, .tree li button:focus {
    text-decoration: none;
    color: #369;
    border: none;
    background: transparent;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    outline: 0;
}

.tree li:hover {
    color: #c82333;
    /*background-color: #2f2e2e;*/
    cursor: pointer;
}

.btn-warning {
    color: #212529;
    background-color: #ffc107;
    border-color: #ffc107;
    font-size: .9rem;
    margin: .2rem;
}

.list_vahed_sazemani_h3 {
    font-size: 1rem;
    font-weight: bold;
    text-align: right;
    margin: .5rem;
    color: #ffffff;
    background-color: #466694;
    padding: .7rem;
}
